<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addNew" method="post">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Enter name"> <br>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Enter Password"> <br>
        <select name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>