<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-green-100 flex justify-center items-center min-h-screen">
  <div class="w-full p-8 rounded-2xl bg-green-300 max-w-lg shadow-lg h-[50%] justify-center">
    <h1 class="font-bold text-green-700 text-center">Admin user</h1>
    <p class="font-bold text-green-700 text-center">Welcome <%= session.role %> - Id:<%= session.userId %></p>
    
    <% if (session.profile_pic) { %> 
      <div class="flex justify-center mb-4">
        <img src="/uploads/<%= session.profile_pic %>" alt="Profile Image" 
        class="w-24 h-24  object-cover rounded-full border-4 border-green-600 shadow-lg"/>
      </div>
    <% } %>
    <div class="flex justify-end">
        <a href="/logout" class="text-white bg-red-500 px-5 py-2 text-center rounded-lg shadow-lg hover:bg-red-600 transition duration-200">Logout</a>
    </div>
    <ul class="flex justify-between mt-6">
        <li><a href="/" class="text-white bg-green-500 px-5 py-2 text-center rounded-lg shadow-lg hover:bg-green-600 transition duration-200">Manage All Users</a></li>
        <li><a href="/register" class="text-white bg-green-500 px-5 py-2 text-center rounded-lg shadow-lg hover:bg-green-600 transition duration-200">Add New Admin/User</a></li>
    </ul>
  </div>
</body>
</html>