<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin user</h1>
    <p>Welcome <%= session.role %> - <%= session.userId %></p>
    
    <a href="/logout">Logout</a>

    <ul>
        <li><a href="/">Manage All Users</a></li>
        <li><a href="/add">Add New Admin/User</a></li>
    </ul>
</body>
</html>