<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-green-100 flex items-center justify-center min-h-screen">
  <div class="bg-green-200 w-full max-w-lg rounded-2xl p-8 shadow-lg">
    <h2 class="text-2xl font-bold text-green-500 text-center">Edit User</h2>
    <form method="POST" action="/edit/<%= user.id %>" class="space-y-4">
      <div>
          <input name="username" value="<%= user.username %>"
          class="w-full py-2 border-green-500 border rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-green-500">
      </div>
      <div>
         <input name="password" type="password" placeholder="New password"
          class="w-full py-2 border-green-500 border rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-green-500">     
      </div>
    <div class="flex justify-between">
      <button type="submit" class="bg-green-600 w-[40%] px-5 py-2 text-white rounded-lg shadow-lg hover:bg-green-700 transition duration-200">Update</button>
      <a href="" class="bg-red-600 w-[40%] px-5 py-2 text-white rounded-lg shadow-lg hover:bg-red-700 transition duration-200 text-center">Back</a>
    </div>
    </form>

  </div>

</body>
</html>